@tailwind base;
@tailwind components;

@font-face {
	font-family: 'Chivo';
	src: local('Chivo'), url('../fonts/Chivo/Chivo-Regular.ttf') format('ttf');
}

@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F5F3FF;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DDD6FE;
    border-radius: 20px !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }